body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.play{
	background-image: url('../images/play_icon.png');
	width:30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.pause{
	background-image: url('../images/pause_icon.png');
	width:30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.wrapper{
	display: flex;
	justify-content: center;
}
.display_text{
	margin: 5px;
}
